body {
  margin: 0;
}

body > div:first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 720px;
}

a,
img {
  border-color: #e0e0e0;
  color: #e0e0e0;
  border-width: 0;
  vertical-align: middle;
  padding: 1px;
}

td {
  padding: 0;
}

table#ketcher_window {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  table-layout: fixed;
  background-color: #e0e0e0;
  border-color: white;
  border-style: outset;
  border-width: thin;
}

#main_toolbar {
  height: 40px;
}

.toolButton,
.sideButton {
  cursor: pointer;
  border-color: #e8e8e8;
  border-width: thin;
  border-style: solid;
  background-color: #dadada;
}

.toolIcon {
  width: 32px;
  height: 36px;
}

.toolButtonCell {
  width: 36px;
}

.sideButtonCell {
  height: 36px;
}

.sideButton {
  width: 32px;
  height: 32px;
  padding: 1px;
}

.buttonHighlight {
  border-color: white;
}

.buttonDisabled {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}

.toolDelimiter {
  width: 16px;
}

.buttonPressed,
.buttonSelected {
  border-color: #606060;
  border-style: inset;
  background-color: white;
}

#client_area {
  overflow: auto;
  background-color: white;
  border-color: #e0e0e0;
  border-style: inset;
  border-width: 1px;
  text-align: left;
  width: 100%;
}

#elem_table_area {
  background-color: #e0e0e0;
  border-style: none;
}

#rgroup_table_area {
  background-color: #e0e0e0;
  border-style: none;
}

#reagenerics_table_area {
  background-color: #e0e0e0;
  border-style: none;
}

.dropdownButton {
  cursor: pointer;
  position: absolute;
  left: 28px;
  top: 28px;
}

.dropdownList {
  position: absolute;
  z-index: 2;
  left: 6px;
  background-color: #fafafa;
  border-style: outset;
  border-width: thin;
  border-color: white;
}

.dropdownList > table {
  font-family: arial;
  font-size: 0.9em;
}

#selector_dropdown_list {
  top: 43px;
}

#bond_dropdown_list {
  top: 120px;
}

#template_dropdown_list {
  top: 196px;
}

#reaction_dropdown_list {
  top: 310px;
}

#rgroup_dropdown_list {
  top: 386px;
}

.dropdownListItem {
  cursor: default;
}

.dropdownListItem > td > div {
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 2px;
  margin-top: -3px;
}

.dropdownListDelimiter {
  background-color: #c0c0c0;
  height: 2px;
}

.highlightedItem {
  background-color: #c0c0c0;
}

#buffer_frame {
  display: none;
}

input#input_label {
  position: absolute;
  z-index: 3;
}

div#window_cover {
  position: absolute;
  z-index: 4;
  background-color: black;
  left: 0;
  top: 0;
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
}

div#loading {
  width: 100%;
  height: 100%;
  background-image: url("loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

.dialogWindow {
  position: absolute;
  z-index: 5;
  background-color: #e0e0e0;
  border-color: #f0f0f0;
  border-style: outset;
  border-width: thin;
  padding: 4px;
  text-align: center;
  left: 10%;
  top: 10%;
}

.dialogWindow > div > div:first-child {
  background-color: #d0d0d0;
}

.elemTableDialog {
  left: 5%;
  top: 5%;
}

.chemicalText {
  width: 320px;
  height: 320px;
  overflow: auto;
  white-space: pre;
}

.chemicalText_IE {
  white-space: pre;
}

.dataSGroupValue {
  width: 320px;
  height: 200px;
  overflow: auto;
}

#title_bar {
  position: absolute;
  left: 50%;
  width: 800px;
  margin-left: -400px;
  padding: 0px;
}

.ketcher_container {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 800px;
  margin-left: -400px;
  padding: 0px;
}

.searchButton {
  position: absolute;
  left: 300px;
  top: 60%;
  width: 80px;
  height: 40px;
  display: block;
}

.query_results {
  position: absolute;
  left: 310px;
  top: 70%;
  width: 100%;
  height: 30%;
  display: block;
}
